.container{
    display: flex;
    width: 400px;
}
.character {
    border: 2px solid black;
    margin-right: 10px;
    height: 100px;
    flex-grow: 1;
    max-width: 100px;
}
.character input {
    width: 100%;
    height: 100%;
    font-size: 64px;
}
.part2 {
    display: none;
}